<mat-checkbox (change)="onViewChange($event.checked)" [checked]="isGroupView">
    Group view
</mat-checkbox>

<mat-accordion *ngIf="isGroupView">
    <mat-expansion-panel class="repo-container" *ngFor="let repoRuns of reposWorkflowRuns">
        <mat-expansion-panel-header class="repo">
            <mat-panel-title>
                <strong>{{repoRuns.workflow_runs[0].repository.name}}</strong>
                <app-run-status [run]="repoRuns.workflow_runs[0]"></app-run-status>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-workflow-runs [workflowRuns]="repoRuns"></app-workflow-runs>
    </mat-expansion-panel>
</mat-accordion>

<div *ngIf="!isGroupView">
    <app-workflow-runs [workflowRuns]="allWorkflowRuns"></app-workflow-runs>
</div>